<div class="container-fluid">
  <% if notice %>
    <div class="row">
      <div class="col-12">
        <div class="card mb-1">
          <h1 class="card-header">
            <p id="notice"><%= notice %></p>
          </h1>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <% @groups.find_each do |group| %>
      <div class="col-lg-4 col-xs-12">
        <div class="card mb-1">
          <div class="card-header text-nowrap">
            <h1 class="d-inline"><%= link_to icon('fas', 'plus-square'), new_landing_path(group_id: group), class: "text-success mr-3" %><%= group.name %></h1>
            <h5 class="d-inline text-nowrap float-right">
              <%= link_to icon('fas', 'edit'), edit_group_path(group), title: "Edit", alt: "Edit", class: "mr-2" %>
              <%= link_to icon('fas', 'trash'), group, method: :delete, data: { confirm: 'Are you sure?' }, title: "Remove", alt: "Remove", class: "mx-2" %>
            </h5>
          </div>
          <% group.landings.find_each do |landing| %>
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <%= link_to content_tag(:h3, landing.name) + content_tag(:h6, landing.url), landing.url, class: "card-text" %>
                </div>
                <div class="col-4">
                  <h4 class="text-nowrap float-right">
                    <%= link_to icon('fas', 'edit'), edit_landing_path(landing), title: "Edit", alt: "Edit", class: "mx-2" %>
                    <%= link_to icon('fas', 'trash'), landing, method: :delete, data: { confirm: 'Are you sure?' }, title: "Remove", alt: "Remove", class: "mx-2" %>
                  </h4>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
