<div class="container">
  <div class="row">
    <% @groups.find_each do |group| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header"><%= group %></div>
          <% group.landings.find_each do |landing| %>
            <div class="card-body">
              <%= link_to landing.name, landing.url %><br>
              <%= link_to landing.url, landing.url %><br>
              <%= link_to icon('fas', 'edit'), edit_landing_path(landing), title: "Edit" %>
              <%= link_to icon('fas', 'trash'), landing, method: :delete, data: { confirm: 'Are you sure?' }, title: "Remove" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% console %>
