<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @landing.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @landing.url %>
</p>

<p>
  <strong>Group:</strong>
  <%= @landing.group %>
</p>

<%= link_to 'Edit', edit_landing_path(@landing) %> |
<%= link_to 'Back', landings_path %>
